/* css */

body {
	background-image: url("../images/sand.jpg");
	text-align: center;
	font-family: 'Courgette', cursive;
	color: rgb(184, 77, 255);
}

h1{
	font-size: 70pt;
	font-family: 'Courgette', cursive;
	margin-bottom: 0;
	margin-top: 0;
	-webkit-text-stroke:1px black;
}

h2{
	font-size: 35pt;
	font-family: 'Averia Libre', cursive;
}

img {
	width: 60%;
}

p{
	font-size: 25pt;
	font-family: 'Averia Libre', cursive;
}
